<div *ngIf="!selectedUser;then contact; else messager">
</div>

<ng-template #contact >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">

          <mat-list>
            <div *ngFor="let user of allUsersList">
              <!--
                  <mat-list-item class="contact" *ngIf="!user.channelid.includes(socketId)" (click)="selectUser(user)" >
                  -->
              <mat-list-item class="contact" *ngIf="!user.channelid.includes(socketId)" (click)="selectUser(user)">
                <img mat-list-avatar src="https://api.adorable.io/avatars/285/{{user.userName}}.png" alt="Desc 1">
                <h3 mat-line>{{user.userName}}</h3>

                <div *ngIf="user.online==true">
                  <p mat-line>(Online)</p>
                </div>
              </mat-list-item>
            </div>

          </mat-list>


        <!--{{userList|json}}-->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #messager>
  <div class="container ">
    <div class="row">

      <div class="col-lg-12 col-sm-12">

          <mat-list >
            <mat-list-item>
              <img mat-list-avatar src="https://api.adorable.io/avatars/285/{{selectedUser.userName}}.png" alt="Desc 1">
              <h3 mat-line>{{selectedUser.userName}}</h3>
              <!-- <a href="#" (click)="selectedUser=null">back</a> -->
              <button class="btn btn-outline-primary" id="backbutton" (click)="selectedUser=null">back</button>
            </mat-list-item>
          </mat-list>

            <div class="message-container">
              <!--<ul class="list-group">-->
              <ol class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="messages.length > 0">
                  <li [ngClass]="{'self': (message.senderName==username && selectedUser.userName==message.receiverName) , 'other': selectedUser.userName== message.senderName  }" *ngFor="let message of messages">
<div *ngIf="(message.senderName==username && selectedUser.userName==message.receiverName)|| selectedUser.userName== message.senderName">
  <div  *ngIf=" message.msg ">
      <img mat-list-avatar style="width:30px; height: 30px; border-radius: 5px;" src="https://api.adorable.io/avatars/285/{{message.senderName}}.png" alt="Desc 1">
      <mat-list-item>
        <!--<img mat-list-avatar src="https://api.adorable.io/avatars/285/{{message.senderName}}.png" alt="Desc 1">-->

        <div class="msg">
          <h3 mat-line class="user">{{message.senderName}}</h3>
          <p mat-line>{{ message.msg }}</p>
        </div>

      </mat-list-item>
  </div>
  <div class="msg" *ngIf="message.drawImg">
      <mat-list-item>
        <!--<img mat-list-avatar src="https://api.adorable.io/avatars/285/{{selectedUser.userName}}.png" alt="Desc 1">-->
        <img mat-list-avatar class="btn-outline-primary pull-left" style="width:15px; height: 15px;" src="https://api.adorable.io/avatars/285/{{selectedUser.userName}}.png" alt="Desc 1">
        <div >
          <h3 mat-line>{{message.senderName}}</h3>
          <img style="width:259px;" src="{{message.drawImg}}" width="100 " (click)="previewImg(message.drawImg)">
        </div>

      </mat-list-item>
  </div>
  <div class="msg" *ngIf="message.file">
    <mat-list-item>
      <!--<img mat-list-avatar src="https://api.adorable.io/avatars/285/{{message.senderName}}.png" alt="Desc 1">-->
      <h3 mat-line>{{message.senderName}}</h3>
      <i class="material-icons">
folder
</i>
      <a style="width:259px;" href="https://intense-headland-70474.herokuapp.com/api/download-file/{{message.filename}}" width="100 ">{{message.filename}}</a>
    </mat-list-item>
  </div>
</div>

              </li>
            </ol>



          </div>
          <div class="row" *ngIf="selectedFile">
            <!--<i class="material-icons">
folder
</i>{{selectedFile.name}}
<button class="card-link" type="button" (click)="onUpload()"><i class="material-icons">
cloud_upload
</i>Upload</button>-->
<mat-list style="width:100%;">
<mat-list-item >
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{selectedFile.type}}</h4>
    <p mat-line>{{selectedFile.name}}</p>
  </mat-list-item>
  <button class="card-link" type="button" (click)="onUpload()"><i class="material-icons">
  cloud_upload
  </i>Upload</button>
</mat-list>


          </div>
          <div class="row" *ngIf="showProgressBar===true">
            <i class="material-icons">
folder
</i>
<mat-progress-bar
          class="example-margin"
          [color]="primary"
          [mode]="determinate"
          [value]="uploadedPercentage">
      </mat-progress-bar>
          </div>



            <!-- The function panel, such as emoji, upload buttons -->
            <div>
              <hr>
              <button style=" border: 0px;  outline: none; background-color:white;" ngbPopover="Send a photo" triggers="mouseenter:mouseleave" placement="right">
                <mat-icon>add_photo_alternate</mat-icon>
              </button>

              <button (click)="openEmoji(emoji_status)" style=" border: 0px;  outline: none; background-color:white;" ngbPopover="Send emoji" triggers="mouseenter:mouseleave">
                <mat-icon>mood</mat-icon>
              </button>

              <ng-template #popContent>
                <emoji-mart set="emojione" title="Learnspace™"  (emojiClick)="addEmojiText($event)"></emoji-mart>
              </ng-template>
              <button type="button" (click)="$event.stopPropagation();" style=" border: 0px;  outline: none; background-color:white;"  [ngbPopover]="popContent" >
                <mat-icon>mood</mat-icon>
              </button>

              <button style=" border: 0px;  outline: none; background-color:white;" ngbPopover="Send a file" triggers="mouseenter:mouseleave" (click)="clickUploader()">
                <input #upload_input type="file" class="form-control-file" (change)="onFileSelected($event)" style="display:none;">
                <mat-icon>attach_file</mat-icon>
              </button>

              <button (click)="draw(drawboard)" style=" border: 0px;  outline: none; background-color:white;" ngbPopover="Create a calendar" triggers="mouseenter:mouseleave" >
                <mat-icon>border_color</mat-icon>
              </button>

              <button style=" border: 0px;  outline: none; background-color:white;" ngbPopover="Create a calendar" triggers="mouseenter:mouseleave">
                <mat-icon color="accent" >calendar_today</mat-icon>
              </button>


            </div>
            <div class="">
              <mat-icon>message</mat-icon>
              <mat-form-field class="chat-input">
                <input matInput #inputMessage maxlength="140" placeholder="Type your message" [(ngModel)]="messageContent" ngValue="emoji" (keyup.enter)="sendMessage(messageContent)">
                <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
              </mat-form-field>
            </div>
            <!--<button type="button" name="button" (click)="drawboardEnable(drawboard)">drawboard</button>-->
      </div>
    </div>
  </div>
  <div *ngIf="emoji_status==true">
    <emoji-mart set="emojione" title="Learnspace™"  (emojiClick)="addEmojiText($event)"></emoji-mart>
  </div>

</ng-template>
