<div *ngIf="!selectedUser;then contact; else messager">
</div>

<ng-template #contact>
  <div class="container" (click)="$event.stopPropagation();">
    <div class="row">
      <div class="col-lg-12 col-sm-12 chat-total">
        
          <mat-list style="width:100%">
            <div *ngFor="let user of allUsersList" >
              <!--
                  <mat-list-item class="contact" *ngIf="!user.channelid.includes(socketId)" (click)="selectUser(user)" >
                  -->
              <mat-list-item class="contact" *ngIf="!user.channelid.includes(socketId)" (click)="selectUser(user); $event.stopPropagation()">
                <img mat-list-avatar style="width:30px; height: 30px;" src="https://api.adorable.io/avatars/285/{{user.userName}}.png" alt="Desc 1">
                <h3 mat-line>{{user.userName}}</h3>

                <div *ngIf="user.online==true">
                  <p mat-line>(Online)</p>
                </div>
              </mat-list-item>
            </div>

          </mat-list>
      </div>
      
      <div style="width: 250px;">
        <hr>
        
        <mat-icon color="" style="vertical-align: middle; transform: translateY(-.1em); padding-left: 16px;padding-right: 24px">search</mat-icon>
        <input style="border:0; outline: none; " placeholder="Search" [(ngModel)]="messageContent"> 
      </div>
    </div>
  </div>
</ng-template>

<ng-template #messager>
  <div class="container messager-container" (click)="$event.stopPropagation();">
    <div class="row">
      <div class="col-lg-12 col-sm-12 chat-total">
       
          <mat-list style="height: 35px; padding-top: 0; width:100%; background-color: rgb(199, 185, 185)">
            <mat-list-item style="padding: 0; height: 35px;">
              <!-- <img mat-list-avatar src="https://api.adorable.io/avatars/285/{{selectedUser.userName}}.png" alt="Desc 1"> -->
              <!-- <a href="#" (click)="selectedUser=null">back</a> -->
              <button mat-line class="btn btn-outline-primary" id="backbutton" (click)="selectedUser=null; $event.stopPropagation()" >
                <mat-icon style="font-size: 12px; height: 12px; width: 12px;" >undo</mat-icon>
              </button>
              <h3 style="margin-left: -140px; font-size: 16px">{{selectedUser.userName}}</h3>
            </mat-list-item>
          </mat-list>
            <div class="message-container">
              <ol class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="messages.length > 0">
                  <li [ngClass]="{'self': (message.senderName==username && selectedUser.userName==message.receiverName) , 'other': selectedUser.userName== message.senderName  }" *ngFor="let message of messages">
<div *ngIf="(message.senderName==username && selectedUser.userName==message.receiverName)|| selectedUser.userName== message.senderName">
  <div  *ngIf=" message.msg ">
    <mat-list-item>
      <img class="avardar" src="https://api.adorable.io/avatars/285/{{message.senderName}}.png" alt="Desc 1">
      <div class="msg-frame">
        <h3 class="user">{{message.senderName}}</h3>
        <div class="msg">
          <p>{{ message.msg }}</p>
        </div>
      </div>
      
    </mat-list-item>
      
  </div>
  <div *ngIf="message.drawImg">
      <mat-list-item>
        <!--<img mat-list-avatar src="https://api.adorable.io/avatars/285/{{selectedUser.userName}}.png" alt="Desc 1">-->
        <img class="avardar" src="https://api.adorable.io/avatars/285/{{message.senderName}}.png" alt="Desc 1">
        <div class="msg-frame">
          <h3 class="user">{{message.senderName}}</h3>
          <div class="msg">
            <img src="{{message.drawImg}}" width="100 " (click)="previewImg(message.drawImg)">
          </div>
        </div>
        
      </mat-list-item>
  </div>
</div>

                  </li>
              </ol>



            </div>
            <div style="padding:8px">
              <mat-icon>message</mat-icon>
              <mat-form-field class="chat-input">
                <input matInput #inputMessage maxlength="140" placeholder="Type your message" [(ngModel)]="messageContent" ngValue="emoji" (keyup.enter)="sendMessage(messageContent)">
                <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
              </mat-form-field>
            </div>

            
      </div>


    </div>
  </div>

  <!-- The function panel, such as emoji, upload buttons -->
  <div class="panel-function">
              
    <button style=" border: 0;  outline: none;" >
      <mat-icon ngbTooltip="Send a photo" triggers="hover" >add_photo_alternate</mat-icon>
    </button>
    
    <ng-template #popContent>
      <emoji-mart set="emojione" title="Learnspace™"  perLine="6" totalFrequentLines="2" [style]="{ border: '0'}" (emojiClick)="addEmojiText($event)" (click)="$event.stopPropagation();"></emoji-mart>
    </ng-template>
    <button type="button" (click)="$event.stopPropagation();" style=" border: 0;  outline: none;"  [ngbPopover]="popContent" >
      <mat-icon ngbTooltip="Emoji" triggers="hover" >mood</mat-icon>
    </button>
    
    <button style=" border: 0;  outline: none;" ngbTooltip="Upload a file" triggers="hover">
      <mat-icon>attach_file</mat-icon>
    </button>
    
    <button (click)="draw(drawboard)" style=" border: 0;  outline: none;">
      <mat-icon  ngbTooltip="Paint" triggers="hover" >border_color</mat-icon>
    </button>
  
    <button style="border: 0; outline: none;">
      <mat-icon color="accent"  ngbTooltip="Create a calendar" triggers="hover">calendar_today</mat-icon>
    </button>
    

  </div>
  
 
</ng-template>
