
<p style="padding-bottom: 2000px;">
  Popovers can contain any arbitrary HTML, Angular bindings and even directives!
  Simply enclose desired content in a <code>&lt;ng-template&gt;</code> element.
</p>

<!-- <ng-template #popContent>
  Hello, <b>{{name}}</b>!
  <app-chat></app-chat>
</ng-template>

<button id="chat-dropup2" type="button" class="btn btn-outline-primary" [ngbPopover]="popContent" [autoClose]="false" popoverTitle="Fancy content">
  Chat

</button> -->

<div ngbDropdown #myDrop="ngbDropdown" id="chat-dropup">
  <button class="btn btn-outline-primary chat-button" id="dropdownConfig" ngbDropdownToggle>
    <mat-icon>chat</mat-icon>
  </button>
  <div #scrollMe ngbDropdownMenu aria-labelledby="dropdownConfig" class="chat-drop-menu">
    

    <div class="container container-head">
      <div class="btn-outline-primary pull-left head-button">Chat</div>
      <div style="text-align:right;">
        <button class="btn-outline-primary head-button">
          <mat-icon class="" [inline]="true">group_add</mat-icon>
        </button>
        <button class="btn-outline-primary head-button">
          <mat-icon class="" [inline]="true">videocam</mat-icon>
        </button>
        <button class="btn-outline-primary head-button" ngbPopover="close" triggers="mouseenter:mouseleave" (click)="myDrop.close()">
          <mat-icon class="" [inline]="true">close</mat-icon>
        </button>
      </div>
    </div>
    <app-chat></app-chat>
  </div>
</div>

<!-- <button mat-icon-button [matMenuTriggerFor]="menu" id="chat-dropup2">
  <mat-icon class="material-icons blue600">chat</mat-icon>
  <span>Chat</span>
</button>

<mat-menu #menu="matMenu" id="my-mat-menu">
    <div class="container container-head" (click)="$event.stopPropagation();">
      <div class="btn-outline-primary pull-left head-button">Chat</div>
      <div style="text-align:right;">
        <button class="btn-outline-primary head-button">
          <mat-icon class="" [inline]="true">group_add</mat-icon>
        </button>
        <button class="btn-outline-primary head-button">
          <mat-icon class="" [inline]="true">videocam</mat-icon>
        </button>
        <button class="btn-outline-primary head-button" ngbPopover="close" triggers="mouseenter:mouseleave">
          <mat-icon class="" [inline]="true">close</mat-icon>
        </button>
      </div>
    </div>
  
  <app-chat></app-chat>
</mat-menu> -->